<div [formGroup]="form">
  <mat-card class="example-card">
    <mat-card-header class="header centrar-vertical">
      <mat-card-title class="title">Selecciona la ubicación del espirometro</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">

        <label class="label">OOAD*:</label>

        <mat-select  class="select" formControlName="entidades" id="entidades"  name="entidades" placeholder="Seleccionar"
          (selectionChange)="obtieneUnidades($event)" required>
          <mat-option *ngFor="let entidad of entidades" [value]="entidad.id" >
            <div class="etiqueta">{{ entidad.descripcion }}</div>
          </mat-option>
        </mat-select>

      <div class="marginGen">
        <label class="label">Ubicación*</label>

        <mat-select class="select" [formControl]="unidadControl" id="unidades" name="unidades" placeholder="Seleccionar" required>
          <mat-option *ngFor="let unidad of unidades" [value]="unidad.idEspirometro">
            <div class="etiqueta">{{ unidad.nomUnidadMedica }} / {{ unidad.areaResponsable }}</div>
          </mat-option>
        </mat-select>

      </div>

    </mat-card-content>

    <mat-card-actions class="btns marginGen">
      <button mat-stroked-button class="custom-clear-btn-class" (click)="cancelar()">Cancelar</button>
      <button [disabled]="unidadSelected == ''" mat-stroked-button class="custom-load-btn-class" (click)="accionar()">Aceptar</button>
    </mat-card-actions>

  </mat-card>
</div>
