<div class="row">
    <div class="imagen-bienvenida">
      <div class="col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6 col-xs-12">
        <div class="titulo-bienvenida">
          <p>Bienvenido</p>
          Programa establecido para la identificación de deficiencias de
          la función del sistema respiratorio secundarias a enfermedades
          generales, probables enfermedades de trabajo y sus secuelas,
          en beneficio de la población afiliada al Instituto Mexicano del
          Seguro Social.
        </div>
      </div>

    </div>
    <div class="borde-imagen">
    </div>

    <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10  col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="titulo-panel">Líneas de acción</p>
            <hr style="color: #CCC; border-top: 1px solid #CCC;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="grupo-item">
                <img src="../../../../assets/icons/icon-accion-identificar.svg">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Identificar</p>
                    <p class="card-text">secuelas secundarias a COVID-19.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="grupo-item">
                <img src="../../../../assets/icons/icon-accion-detectar.svg">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Detectar</p>
                    <p class="card-text">probables enfermedades respiratorias de trabajo.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="grupo-item">
                <img src="../../../../assets/icons/icon-accion-determinar.svg">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Determinar</p>
                    <p class="card-text">adecuadamente el porcentaje de
                      valuación de secuelas de riesgos de trabajo.</p>
                  </div>
                </div>

              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="grupo-item">
                <img src="../../../../assets/icons/icon-accion-establecer.svg">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Establecer</p>
                    <p class="card-text">deficiencias respiratorias para
                      completar estudios de asegurados
                      en protocolo de estudio de estado
                      de invalidez o beneficiario
                      incapacitado.</p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

      <p class="leyenda text-center">Herramienta para visualizar las actividades del programa de uso de espirómetros por los
        servicios de Salud en el Trabajo
      </p>

      <br>

  </div>



  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gpo-files">
      <div class="img-file manual" (click)="downloadFile(1)">
        <span style="margin-right: 60px;">Manual de usuario</span>
      </div>
      <div class="img-file carga" (click)="downloadFile(2)">
        <span style="margin-right: 20px;">¿Cómo cargar un archivo?</span>
      </div>
      <div class="img-file descarga" (click)="downloadFile(3)">
        <span style="margin-right: 50px;">Descargar programa</span>
      </div>
    </div>
    <br>
  <br>
  </div>



</div>
